*{
    margin: 0;
    padding: 0;
}

body{
    background: #ccc;
    Font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.area-cabecalho{
    background: #0c0c0c;
    padding: 15px;
    text-align: center;
}

h1{
    text-align: center;
    color: #f7b600;
    font-size: 2.5em;
}

#cor{
    color: whitesmoke;
}

.area-logo .area-menu{
    padding: 8px;
}

.area-menu{
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 8px;
}

.area-menu a:link{
    color: whitesmoke;
}

.area-menu a:hover{
    background: white;
    color: #f7b600;
}

.area-pricipal{
    margin:0 auto;
    width: 920px;
    padding: 15px;
}

.area-poemas{
    width: 660px;
    float:left;
}

.area-lateral{
    width: 240px;
    float: right;
}

.poema{
    padding:20px;
    margin-bottom: 20px;
    background: whitesmoke;
    border-radius: 15px;
    box-shadow: 0px 5px 10px;
}

.poema a{
    display: block;
    padding-top: 10px;
    color: #009cf7;
}

.poema a:hover{
    text-decoration: underline;
}

h2{
    color: #f7b600;
}

p{
    margin: 5px;
    padding-top: 5px;
    color: #0c0c0c;
}



.poemas-recentes{
    height: 100px;
    padding:10px;
    margin-bottom: 10px;
    background: #3b3b3b;
    border-radius: 15px;
    box-shadow: 0px 5px 10px;
}
.poemas-recentes span{
    font-size: .8em;
    color: white;
}

.poemas-recentes a{
    color: #f7b600;
    font-size: .8em;
    align-items: left;
    justify-content: left;
}

.poemas-recentes a:hover{
    text-decoration: underline;
}

#rodape{
    clear: both;
    text-align: center;
    background: #ccc;
    margin-top: 850px;
    padding:15px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px;

}